<div class="container" >


<h2>Edit Politician Detail</h2>

<p>{{vm.details.name}} | {{vm.details.title}} | {{vm.details.state}}</p>
<hr>
<h4>Add or update details in the text boxes below.  If your contributions or edits are "troothy" they shall remain.</h4>
<hr>

<p>Responsible Spending</p>
<textarea name="SpendingDetail" rows="3" cols="120" ng-model="vm.details.spendMssg"></textarea>
<hr>

<p>Military</p>
<textarea name="Military" rows="3" cols="120" ng-model="vm.details.militMssg"></textarea>
<hr>

<p>Immigration</p>
<textarea name="Immigration" rows="3" cols="120" ng-model="vm.details.immigMssg"></textarea>
<hr>

<p>Science/Technology</p>
<textarea name="Military" rows="3" cols="120" ng-model="vm.details.scitechMssg"></textarea>
<hr>

<p>Education</p>
<textarea name="Education" rows="3" cols="120" ng-model="vm.details.eduMssg"></textarea>
<hr>

<p>Social Issues</p>
<textarea name="Social Issues" rows="3" cols="120" ng-model="vm.details.socialMssg"></textarea>
<hr>

<p>Environment</p>
<textarea name="Environment" rows="3" cols="120" ng-model="vm.details.envirMssg"></textarea>
<hr>

<p>Class Fairness</p>
<textarea name="Class Fairness" rows="3" cols="120" ng-model="vm.details.classMssg"></textarea>
<hr>
<button class="button" ng-click="vm.editDetails()">Save changes</button>
<hr>
<button class="button" name="viewUpdates"><a ng-click="vm.viewUpdates(p._id)">View updates</a></button>
<br>
<hr>
<button class="button" name="home"><a href="/home">Back Home</a></button>

</div>
