

<div id="searchHeader" class="container">

<h1 id="appName">Troothy</h1>

<h5>Here politicians are not evaluated by their campaign promises or party affiliations.
They are evaluated by their votes, their actions, and their tangible impact on society, for better or for worse.  Search below to get started!</h5>

</div>


    <div id="searchDiv" class="container">

<h5>Politicians</h5>

<p>Search by party affiliation</p>
<select ng-model="vm.category" ng-change="vm.getPoliticians()">
  <option value="republicans">Republicans</option>
  <option value="democrats">Democrats</option>
  <option value="independents">Independents</option>
  <option value="libertarians">Libertarians</option>
</select>

<ul>
  <li ng-repeat="p in vm.politicians">{{p.name}} | {{p.title}} | {{p.state}} <a href="/politicianDetail/{{p._id}}">--Select--</a><br><a href="/edit/{{p._id}}">Edit |</a> <a ng-click="vm.deletePolitician(p._id)">Delete</a></li>
</ul>

<div style="padding-top: 20px;">
<button class="btn"><a href="/add">Add politician</a></button>
</div>

   <div style="padding-top: 20px;">
<button class="btn"><a href="/">Logout</a></button>
   </div>
   <hr>
   <p id="rights">2017 Nuance Corporation.  All rights reserved.</p>
    </div>
