<div class="container" >


<h2>Politician Detail</h2>

<!-- <input type="text" placeholder="name" ng-model="vm.politician.name">
<input type="text" placeholder="title" ng-model="vm.politician.title">
<input type="text" placeholder="state" ng-model="vm.politician.state"> -->


{{vm.details.name}} | {{vm.details.title}} | {{vm.details.state}}




<p>Responsible Spending</p>
<p>{{vm.details.spendMssg}}</p>
<hr>

<p>Military</p>
<p>{{vm.details.militMssg}}</p>
<hr>

<p>Immigration</p>
<p>{vm.details.immigMssg}}</p>
<hr>

<p>Science/Technology</p>
<p>{{vm.details.scitechMssg}}</p>
<hr>

<p>Education</p>
<p>{{vm.details.eduMssg}}</p>
<hr>

<p>Social Issues</p>
<p>{{vm.details.socialMssg}}</p>
<hr>

<p>Environment</p>
<p>{{vm.details.envirMssg}}</p>
<hr>

<p>Class Fairness</p>
<p>{{vm.details.classMssg}}</p>
<hr>

<button type="button" ng-click="vm.editPolitician()">Edit/Add Detail</button>

<a href="/home">Back Home</a>
<br>
<br>
<hr>


<a ng-click="vm.addDetail(p._id)">Add Detail</a>
<br>
<a href="/addDetail/{{p._id}}">Update Category</a>

</div>
