<div class="container" >


<h2>Politician Detail</h2>

<!-- reference a whole new endpoint and controller with this angular code below -->
{{vm.details.name}} | {{vm.details.title}} | {{vm.details.state}}
<hr>

<p>Responsible Spending</p>
<p>{{vm.details.spendMssg}}</p>
<hr>

<p>Military</p>
<p>{{vm.details.militMssg}}</p>
<hr>

<p>Immigration</p>
<p>{{vm.details.immigMssg}}</p>
<hr>

<p>Science/Technology</p>
<p>{{vm.details.scitechMssg}}</p>
<hr>

<p>Education</p>
<p>{{vm.details.eduMssg}}</p>
<hr>

<p>Social Issues</p>
<p>{{vm.details.socialMssg}}</p>
<hr>

<p>Environment</p>
<p>{{vm.details.envirMssg}}</p>
<hr>

<p>Class Fairness</p>
<p>{{vm.details.classMssg}}</p>
<hr>

<button type="button" class="button"><a ng-click="vm.addDetail(p._id)">Update details</a></button>
<br>
<hr>
<button type="button" class="button"><a href="/home">Back Home</a></button>
<hr>
</div>
