
<div id="acctHeader" class="container">

<h2>Create new account</h2>
</div>


<div id="newAcct" class="container">
<input type="text" placeholder="username" ng-model="vm.user.username"/>
<input type="text" placeholder="email" ng-model="vm.user.email"/>
<input type="password" placeholder="password" ng-model="vm.user.password"/>
<button class="btn btn-primary" ng-click="vm.signup()">Submit</button>
</div>


<div id="acctFooter" class="container">
  <h3>Wise words:</h3>
  <hr>
  <h3>"Well done is better than well said." ~ Benjamin Franklin</h3>
  <hr>
  <h3>"Talk doesn't cook rice." ~ Chinese Proverb</h3>
  <hr>
  <h3>"Men expect too much, do too little." ~ Allen Tate</h3>
  <hr>
  <h3>"Be content to act, and leave the talking for others." ~Baltasar Gracian</h3>
  <hr>
  <h3>"Don't be wise in words - be wise in deeds." ~ Jewish Proverb</h3>
  <hr>
  <h3>"Action will remove the doubts that theory cannot solve." ~ Tehyi Hsieh</h3>
  <hr>
  <h3>"People may doubt what you say, but they believe what you do." ~ Lewis Cass</h3>
  <hr>
  <h3>"It's quite possible that your head is too big for your body." ~ Unknown Author</h3>
  <hr>
  

</div>
