#loginDiv {
  background-color:  #9C96AC
  /*border:1px solid black;*/
}

#appName{
  font-family: 'Aclonica', sans-serif;
}

#registerDiv {
  background-color: #967595
}

#imageList li {
  display: inline-block;
  list-style-type: none;
}

h3 {
  text-align: center;
}

#polImages {
  background-color: #9C96AC
}

#footDiv {
  background-color: #967595
}

#quote {
  text-align: center;
  color: white;
}

#registerBody {
  /*width: 100%; height: 100%;
  position: relative;
  margin: 0 auto;*/
  background-color: #967595
}

#newAcct {
background-color: #9C96AC
}

#acctHeader {
  background-color: #967595
}

#acctFooter {
  background-color: #9C96AC
}

#searchHeader {
  background-color: #9C96AC
}

#searchDiv {
  background-color: #967595
}

#rights {
  color: white;
  text-align: center;
}

#pdHeader {
  background-color: #9C96AC
}

#pdBtnDiv {
  background-color: #967595
}

#edHeader{
  background-color: #9C96AC
}

#edInstruct {
  background-color: #967595
}

#edBtnDiv {
  background-color: #967595
}
